<nav class="navbar navbar-header navbar-expand navbar-light">
    <a class="sidebar-toggler" (click)="toggleSidebar()"><span class="navbar-toggler-icon"></span></a>
    <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
           
            <li  class="dropdown">
                <a  data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user"  (click)="toggleNavbar()">
                    <div class="avatar mr-1">
                        <img src="assets/images/avatar/avatar-default.png" alt="" srcset="">
                    </div>
                    <div class="d-none d-md-block d-lg-inline-block">Bienvenue, {{username}}</div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" [ngClass]="{ 'show': navbarOpen }" >
                    <a class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        Compte</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out">
                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline>
                            <line x1="21" y1="12" x2="9" y2="12"></line></svg> 
                      Déconexion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
