<div id="app" *ngIf="isAuthenticated()" >
    <router-outlet></router-outlet>

</div>
    <div id="app" *ngIf="!isAuthenticated() && isAdmin()" >

        <div id="sidebar"  [ngClass]="{'active': sidebarOpen}">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <img src="assets/images/logo.svg" alt="" srcset="">
                </div>

                <div class="sidebar-menu">
                    <ul class="menu">
                        
                        
                            <li class='sidebar-title'>Menu Principal</li>
                        
                        
                            <li class="sidebar-item  ">
                                <a routerLink="/dashboard" class="sidebar-link" href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg> 
                                    <span>Dashboard</span>
                                </a>
                                
                            </li>
                            <li class="sidebar-item  ">
                                <a  class='sidebar-link' routerLink="/categories">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
                                    <span>Categorie</span>
                                </a>
                                
                            </li>
                            <li class="sidebar-item  ">
                                <a  class='sidebar-link' routerLink="/products">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                                    <span>Produit</span>
                                </a>
                                
                            </li>
                            <li class="sidebar-item  ">
                                <a  class='sidebar-link' routerLink="/customers">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <span>Client</span>
                                </a>
                                
                            </li>
                            <li class="sidebar-item  ">
                                <a  class='sidebar-link' routerLink="/orders">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                    <span>Commande</span>
                                </a>
                                
                            </li>

                            

                        
                     
                    </ul>
                </div>

        
                <button class="sidebar-toggler btn x" (click)="toggleSidebar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
        </div>

        <div id="main">
 
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" (click)="toggleSidebar()"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
                       
                        <li  class="dropdown">
                            <a  data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user"  (click)="toggleNavbar()">
                                <div class="avatar mr-1">
                                    <img src="assets/images/avatar/avatar-default.png" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Bienvenue, {{username}}</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" [ngClass]="{ 'show': navbarOpen }" >
                                <a class="dropdown-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    Compte</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="logout()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out">
                                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline>
                                        <line x1="21" y1="12" x2="9" y2="12"></line></svg> 
                                  Déconexion</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <router-outlet></router-outlet>

            <app-footer></app-footer>
           
        </div>
    </div>




    <div id="app" *ngIf="!isAuthenticated() && !isAdmin()" >

        <div id="sidebar"  [ngClass]="{'active': sidebarOpen}">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <img src="assets/images/logo.svg" alt="" srcset="">
                </div>

                <div class="sidebar-menu">
                    <ul class="menu">
                        
                        
                            <li class='sidebar-title'>Menu Principal</li>
                        
                        
                            <li class="sidebar-item  ">
                                <a  class='sidebar-link' routerLink="/user/product">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                    <span>Nos Produits</span>
                                </a>
                                
                            </li>

                            <li class="sidebar-item  ">
                                <a  class='sidebar-link' routerLink="/orders">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                    <span>Mes Commandes</span>
                                </a>
                                
                            </li>

                        
                     
                    </ul>
                </div>

        
                <button class="sidebar-toggler btn x" (click)="toggleSidebar()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
        </div>

        <div id="main">
 
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" (click)="toggleSidebar()"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ml-auto">
                       
                        <li  class="dropdown">
                            <a  data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user"  (click)="toggleNavbar()">
                                <div class="avatar mr-1">
                                    <img src="assets/images/avatar/avatar-default.png" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Bienvenue, {{username}}</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" [ngClass]="{ 'show': navbarOpen }" >
                                <a class="dropdown-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    Compte</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="logout()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out">
                                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline>
                                        <line x1="21" y1="12" x2="9" y2="12"></line></svg> 
                                  Déconexion</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <router-outlet></router-outlet>

            <app-footer></app-footer>
           
        </div>
    </div>


