
<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Produit</h3>
        <p class="text-subtitle text-muted">products works ! </p>
    </div>
    <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class='breadcrumb-header'>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a >Produit</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gestion des produits</li>
            </ol>
        </nav>
    </div>

</div>
