<div class="main-content container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="page-title">
                    <h3>Categorie</h3>
                    <p class="text-subtitle text-muted">categories works ! </p>
                </div>
                <div class="col-12 col-md-12 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class='breadcrumb-header'>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Categorie</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Gestion des categories</li>
                        </ol>
                    </nav>
                </div>
            </div>
    
        </div>
      
        <section id="basic-vertical-layouts">

            <div class="row match-height">
                <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                    <h4 class="card-title">Ajouter Categorie</h4>
                    </div>
                    <div class="card-content">
                    <div class="card-body">
                       <!-- <form class="form form-vertical"> -->
                        <div class="form-body">
                            <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                <input type="text" id="first-name-vertical" class="form-control" name="fname"
                                    placeholder="designation">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                <input type="email" id="email-id-vertical" class="form-control" name="email-id"
                                    placeholder="type">
                                </div>
                            </div>
                            
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">Valider</button>
                                <button type="reset" class="btn btn-light-secondary mr-1 mb-1">Annuler</button>
                            </div>
                            </div>
                        </div>
                      <!--  </form> -->
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                    <h4 class="card-title">List des categories</h4>
                    </div>
                    <!--<div class="card-content"> -->
                    <div class="card-body">
                      <!--  <form class="form form-vertical"> -->
                        <table class='table table-striped' id="table1">
                            <thead>
                                <tr>
                                    <th>Designation</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Graiden</td>
                                    <td>
                                        <span class="badge bg-success">Active</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dale</td>
                                    <td>
                                        <span class="badge bg-success">Active</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nathaniel</td>
                                    <td>
                                        <span class="badge bg-danger">Inactive</span>
                                    </td>
                                </tr>
                               
                                <tr>
                                    <td>Emmanuel</td>
                                    <td>
                                        <span class="badge bg-success">Active</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      <!--  </form> -->
                    </div>
                    <!-- </div> -->
                </div>
                </div>
            </div>

        </section>

        
    
    
    
    
</div>